@model EMSWebProject.Models.Assets






<form method="post" asp-controller="Assets" asp-action="UpdateAssetsRecords">

    <input type="text" class="form-control" hidden id="" aria-describedby="emailHelp" value="@Model.Id" name="Id" placeholder="Enter assets Name">

    <div class="form-group mt-2">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="@Model.Name" name="Name" placeholder="Enter assets Name">
    </div>
    <div class="form-group mt-2">
        <label for="exampleInputEmail1">Description</label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="@Model.Description" name="Description" placeholder="Enter assets Description">
    </div>

    <div class="form-group mt-2">
        <label for="exampleInputEmail1">PurchasingPrice</label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="@Model.PurchasingPrice" name="PurchasingPrice" placeholder="Enter assets PurchasingPrice">
    </div>

    <div class="form-group mt-2">
        <label for="exampleInputEmail1">Status</label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="@Model.Status" name="Status" placeholder="Enter assets Status">
    </div>

    <div class="form-group mt-2">

        <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
    </div>
</form>
